
.DS_Store
project-group-07.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.gradle/6.1.1/executionHistory/executionHistory.bin
.gradle/6.1.1/executionHistory/executionHistory.lock
.gradle/6.1.1/fileChanges/last-build.bin
.gradle/6.1.1/fileHashes/fileHashes.bin
.gradle/6.1.1/fileHashes/fileHashes.lock
.gradle/6.1.1/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/vcs-1/gc.properties
generated/.gradle/6.1.1/executionHistory/executionHistory.bin
generated/.gradle/6.1.1/executionHistory/executionHistory.lock
generated/.gradle/6.1.1/fileChanges/last-build.bin
generated/.gradle/6.1.1/fileHashes/fileHashes.bin
generated/.gradle/6.1.1/fileHashes/fileHashes.lock
generated/.gradle/6.1.1/gc.properties
generated/.gradle/buildOutputCleanup/buildOutputCleanup.lock
generated/.gradle/buildOutputCleanup/cache.properties
generated/.gradle/buildOutputCleanup/outputFiles.bin
generated/.gradle/checksums/checksums.lock
generated/.gradle/checksums/md5-checksums.bin
generated/.gradle/checksums/sha1-checksums.bin
generated/.gradle/vcs-1/gc.properties
