.gradle/
build/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
project-group-07.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.DS_Store
.gradle/6.1/fileHashes/fileHashes.lock
.gradle/checksums/checksums.lock
